.container{
    margin-bottom: 100px;
}

.carousel-bg{
    background-color: #fceae8;
    border-radius:10px;
}
.carousel{
    padding: 20px 40px;
    
}
.price{
    color: #FF136F;
}
.buy_now_button{
    background-image: linear-gradient(to bottom, #FF136F 0%, #FF5898 100%);
    border-radius:25px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    color: #fff;
}